body  {
	background-color: yellow
}
img  {
	border: medium dashed green;
	padding: 3em;
}
h1  {
	margin: 5em
}
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
h2  {
font: italic small-caps bolder 30px/3 cursive;	
}
a:hover {
  color: green;
  text-decoration: underline overline;
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}